.foother{
    background-color: #f7a3f0;
    padding: 20px;
    text-align: center;
}

.navbar-lila {
  background-color:#f5dff3 ; /* lila claro */
}


.footer-lila {
  background-color:#f3ceef; 
  color: #000;
  margin-top: 40px;
}
